* {
  padding: 0;
  margin: 0;
}


.header-subtitle {
  font-size: 26px;
}

#canvas {
  margin-left: 42vw;
}

.pixel {
  width: 20px;
  height: 20px;
  display: none;
}

.pixel.visible {
  display: inline-block;
}




.header {
  /* background-image: url(../assets/mainBg.jpg); */
  z-index: 990;
  height: 150vh;
  min-height: 600px;
  text-align: center;
  color: black;
}

/* .header .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 150vh;
  width: 100vw;
} */

.header .header-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.header .header-content .header-title {
  font-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1300 - 300)));
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.header .header-content .header-subtitle {
  opacity: 1;
  margin-bottom: 30px;
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  /* .header-subtitle {
    margin-top: 450%;
  } */
  #canvas {
    margin-left: 30vw;
  }
}